{% extends "R9CoreBundle::layout.html.twig" %}
{% block title %}
  {{'Page d\'accueil'|trans }} - {{ parent() }}
{% endblock %}

{% block pagecontent %}
        
                <section class="header">
                    <!--div class="btnico icoback actback"><a href="#"></a></div-->
                    <div class="pagetitle">Erreur de connexion</div>
                </section>
                <section class="subheader">
                    <div>
                        Veuillez vous identifier pour consulter l'application R9 Inbizz.
                        <!--Veuillez vous connecter avec votre compte Google pour consulter l'application R9 Inbizz.-->
                    </div>
                </section>
        
{% endblock %}
